@import "tailwindcss";

:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Great Vibes", sans-serif;

  --bg-2: rgba(28, 104, 109, 0.6);
  --foundation--grey-lighter: #e4e4e4;
  --foundation--grey-light-hover: #dfdfdf;
  --foundation--grey-light-active: #d9d9d9;
  --foundation--grey-normal: #c4c4c4;
  --foundation--grey-normal-hover: #a7a7a7;
  --foundation--grey-normal-active: #8f8f8f;
  --foundation--grey-dark: #454545;
  --foundation--grey-dark-hover: #313131;
  --foundation--grey-dark-active: #161616;
  --with-taste-secondary: #9dc6c9;
  --with-taste-primary: #1c686d;
  --with-taste-bg: #f7f5f3;
  --with-taste-card: #ece9e3;
  --with-taste-black: #141515;
  --with-taste-dark-card: #d4d0c8;
  --with-taste-dark-brown: #2d1106;
  --with-taste-active-primary: #115256;
  --white: #f2efe5;
}

@theme inline {
  --default-font-family: var(--font-family);
  --color-background: var(--with-taste-bg);

  --font-primary: var(--font-family);
  --font-secondary: var(--second-family);

  --color-primary: var(--with-taste-primary);
  --color-secondary: var(--with-taste-secondary);
  --color-primaryActive: var(--with-taste-active-primary);
  --color-backgroundBg: var(--bg-2);
  --color-black: var(--with-taste-black);
  --color-white: var(--white);
  --color-card: var(--with-taste-card);
  --color-dark-brown: var(--with-taste-dark-brown);
  --hero-gradient: var(--hero-gradient);

  --gradient-image-overlay: linear-gradient(
    180deg,
    rgba(236, 233, 227, 0) 50%,
    rgba(236, 233, 227, 0.913462) 94.23%,
    #ece9e3 100%
  );
}
/* Сховати скролбар */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
