@import "tailwindcss";

:root {
  --bg-2: rgba(28, 104, 109, 0.6);
  --foundation--grey-lighter: #e4e4e4;
  --foundation--grey-light-hover: #dfdfdf;
  --foundation--grey-light-active: #d9d9d9;
  --foundation--grey-normal: #c4c4c4;
  --foundation--grey-normal-hover: #a7a7a7;
  --foundation--grey-normal-active: #8f8f8f;
  --foundation--grey-dark: #454545;
  --foundation--grey-dark-hover: #313131;
  --foundation--grey-dark-active: #161616;
  --with-taste-secondary: #9dc6c9;
  --with-taste-primary: #1c686d;
  --with-taste-bg: #f7f5f3;
  --with-taste-card: #ece9e3;
  --with-taste-black: #141515;
  --with-taste-dark-card: #d4d0c8;
  --with-taste-dark-brown: #2d1106;
  --with-taste-active-primary: #115256;
  --white: #f2efe5;
}

:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Great Vibes", sans-serif;
}

/* Reset styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  background: var(--with-taste-bg);
  color: var(--with-taste-black);
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
h1 {
  font-family: var(--second-family);
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #000;
  text-align: left;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border-radius: 32px;
  /* padding: 24px 16px;
  width: 304px;
  height: 72px; */
  background: var(--with-taste-primary);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 600;
  /* font-size: 20px; */
}

button:hover {
  background: var(--with-taste-active-primary);
}

input {
  outline: transparent;
}

textarea {
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 19px;
  max-width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 82px;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: var(--with-taste-dark-brown);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}
